body{
	font-family: helvetica, sans-serif;
}
#wrap{
	width: 950px;
	margin: auto;
	background: #e3e3e3;

}
header h1{
	padding: 10px 20px;
}
header nav ul{
	list-style: none;
	padding-left: 20px;
}
header nav ul li{
	display: inline-block;
	margin-right: 10px;
}